@charset "utf-8";
header{width: 100%;height: 143px;}
.div1{width: 100%;height: 35px;background-color: #f0f0f0;} .div1 ul{float: right;margin-right: 24px}
.div1 ul li {display: block;line-height:10px;float: left;height: 12px;border-right: 1px solid black;margin-top: 12px;padding: 0 12px;}
.div1 ul li:nth-child(10){border:none;}
.div1 ul li a{font-size: 12px;color: gray;}
.div2{width:100%;height: 108px}
.div2 .div-L{width: 274px;height: 108px;float: left}
.div2 .div-L img{float: right;}
.div2 .div-C{width: 719px;height: 108px;float: left;}
.div2 .s_car{width: 270px;height: 108px;float: right;}
.div2 .s_car .car{height: 30px;width: 170px;border:1px solid black;line-height: 30px;text-align: center; margin-top: 40px}
.div-C .Search{height: 33px;width:580px;margin-top: 33px;margin-left: 90px;}
.div-C .Search .Search-L{height: 33px;width: 490px;float: left;}
.div-C .Search .Search-L #q{ width: 489px; height: 33px; padding: 5px; border: 1px solid #f90; font-size: 16px;float: left;}
.div-C .Search .Search-L #q #ul1{border: 1px solid #f90; margin: 0px; padding: 0px; width: 310px; display: none;}
.div-C .Search .Search-L #q #ul1 li{list-style: none}
.div-C .Search .Search-L #q #ul1 li a{line-height: 30px; padding: 5px; text-decoration: none; color: black; display: block; }
.div-C .Search .Search-L #q #ul1 li a:hover{background-color: #f90; color: white}
.div-C .Search button{cursor:pointer; width: 70px;height:45px;background: blue;float: left;position: absolute;}
.BOX{width: 100%;height: 2400px;background:#c7d8f5;}
.div3{width: 100%;height: 40px;background-color: #5457b9;}
.div3 .box1{height: 470px;width: 190px;background-color: #4169ab;float: left;font-size: 12px;line-height: 40px;text-indent: 16px;margin-left:38px;cursor: pointer; position: absolute;z-index: 2;opacity: 0.5;}
.div3 .box1 .u1{height: 470px;width: 190px;}
.div3 .box1 .u1 li{height:38px;line-height: 38px;}
.div3 .box1 .u1 li:hover{background-color: white;}
.div3 .box1 .u1 li a{height:38px;width: 190px;color: white;font-size: 12px}
.div3 .box1 .u1 li a:hover{color: black}
.div3 .box1 .u1 .LI1 .H1,.div3 .box1 .u1 .LI2 .H2,.div3 .box1 .u1 .LI3 .H3,.div3 .box1 .u1 .LI4 .H4,.div3 .box1 .u1 .LI5 .H5,.div3 .box1 .u1 .LI6 .H6,.div3 .box1 .u1 .LI7 .H7,.div3 .box1 .u1 .LI8 .H8,.div3 .box1 .u1 .LI9 .H9,.div3 .box1 .u1 .LI10 .H10,.div3 .box1 .u1 .LI11 .H11{width: 440px;height:430px;background:black;position: absolute;top:40px;left: 190px;display: none;}
.div3 .box1 .u1 .LI1:hover .H1,.div3 .box1 .u1 .LI2:hover .H2,.div3 .box1 .u1 .LI3:hover .H3,.div3 .box1 .u1 .LI4:hover .H4,.div3 .box1 .u1 .LI5:hover .H5,.div3 .box1 .u1 .LI6:hover .H6,.div3 .box1 .u1 .LI7:hover .H7,.div3 .box1 .u1 .LI8:hover .H8,.div3 .box1 .u1 .LI9:hover .H9,.div3 .box1 .u1 .LI10:hover .H10,.div3 .box1 .u1 .LI11:hover .H11{display: block;opacity: 1;z-index: 4;}
#D1{width: 430px;height:100px;line-height: 100px;}
#P1{width: 100px;height: 100px;}
#T1{font-size: 12px;color: red;}
.div3 .u2{display: relative;margin-left: 270px;}    
.div3 .u2 li{float: left;margin-left: 36px}
.div3 .u2 li a{font-size: 12px;line-height: 40px;color: white;}
.div4{width: 100%;height: 430px;background-color: #c4c5c6;}
.div4 #div4-banner { margin-left:38px; width: 952px; height: 430px;  overflow: hidden;  position: relative;float:left;}
.div4 #div4-banner ol { position: absolute; right: 5px; bottom: 5px; z-index: 2; }
.div4 #div4-banner ol li { float: left; margin-right: 3px; display: inline; cursor: pointer; background: #fff; border: 1px solid #f47500; padding: 2px 6px; color: #d94b01; font-family: arial; font-size: 12px; }
.div4 #div4-banner ol .active1 { padding: 3px 8px; font-weight: bold; color: #ffffff; background: #fff; position: relative; bottom: 2px; }
.div4 #div4-banner ul { position: absolute; top: 0; left: 0; z-index: 1; }
.div4 #div4-banner ul li { width: 952px; height: 430px; float: left; }
.div4 #div4-banner ul img { float: left; width: 952px; height: 430px; }
.div4 .div4-L{width: 270px;height: 430px;float: left;}
.div4 .div4-L .div4-circle{height: 200px;width: 200px;border-radius: 100%;border:3px solid black;margin:70px auto;}
.div4 .div4-L .div4-circle img{height: 200px;width: 200px;}
.div4 .b1{height:20px;width: 40px;cursor: pointer;background-color: blue;color:white;margin-left: 70px}
.div5{width: 100%;height: 210px;background-color: #e2d5f3;}
.div5 img{width:290px;height:150px;  cursor: pointer; display: block;float: left;margin-left: 10px;margin-top: 30px;}
.div5 img:nth-child(1){margin-left: 33px;}
.div5 img:hover{transform: translateX(-5px);}
.div6,.div9{width:1176px;height:63px;background-color: #2979ff;margin: 0 auto;border-top-left-radius:15px;border-top-right-radius:15px;font-size: 18px;color: white;line-height: 63px;padding-left: 20px;}
.div7{height: 420px;width:100%;background-color: #e7f3f5;}
.div7-L{height: 400px;width:232px;background-color: white;margin-left:35px;padding:10px 5px;float: left;}
.div7-L img{cursor: pointer;}
.div7-L img:hover{transform: translateX(-5px);}
.div7-R{height:400px;width:930px;background:#fff;float: left;margin-top: 10px;margin-left: 20px}  
/* 商品*/
#TJ{height:200px;width:305px;border: 1px solid gray;float: left;}
#TJ:nth-child(1){border-top: none;border-left: none}
#TJ:nth-child(2){border-top: none;}
#TJ:nth-child(3){border-top: none;border-right: none}
#TJ:nth-child(4){border-bottom: none;border-left: none}
#TJ:nth-child(5){border-bottom: none;}
#TJ:nth-child(6){border-bottom: none;border-right: none}
#P{display: block;float: left;margin-top: 40px;cursor: pointer;}
#P:hover{transform: translateX(3px);}
#T2 {font-size: 12px;margin-top: 70px;}
#T2:hover{color: blue}
#T2 span{font-size: 14px;color: red}
/*选项卡*/
	#div8{
				height: 400px;
				width: 1196px;
				background-color: #fff;
				margin: 0 auto;
			}
			#div8 ul li{
				float: left;
				height: 47px;
				line-height: 50px;
				border-bottom: 1px solid black;
			}
			#div8 ul li:hover{border-bottom: 3px solid blue;}
			#div8 ul li:nth-child(1){width: 280px;}
			#div8 ul li:nth-child(2){width: 130px;}
			#div8 ul li:nth-child(3){width: 130px;}
			#div8 ul li:nth-child(4){width: 125px;}
			#div8 ul li:nth-child(5){width: 125px;}
			#div8 ul li:nth-child(6){width: 125px;}
			#div8 ul li:nth-child(7){width: 125px;}
			#div8 ul li:nth-child(8){width: 155px;}
			#div8 ul li a span{
				font-size: 12px;
				color: gray;
				margin-left: 40px;
			}
			#div8 ul li:nth-child(1) span{margin-left: 150px;}
			#div8 ul li a span:hover{color: blue;}
			#L1,#L2,#L3,#L4,#L5,#L6,#L7,#L8{width: 1180px;height: 350px;background-color: white;position: absolute;top:50px;left:42px;display: none;}
			#L1{z-index: 1;}
			#div8 ul li:nth-child(1):hover #L1,#div8 ul li:nth-child(2):hover #L2,#div8 ul li:nth-child(3):hover #L3,#div8 ul li:nth-child(4):hover #L4,#div8 ul li:nth-child(5):hover #L5,#div8 ul li:nth-child(6):hover #L6,#div8 ul li:nth-child(7):hover #L7,#div8 ul li:nth-child(8):hover #L8{z-index: 1;display: block;}
			#div8 img:hover{transform: translateX(-5px);}
			#PHOTO{display: block;margin-top: 1310px;margin-left: 10px;}
			#box3{height: 310px;width:940px;background: gold;position: absolute;top: 1320px;right: -10px;}
#TJ3{height:155px;width:230px;border: 1px solid gray;float: left;}
#TJ3:nth-child(1){border-top: none;border-left: none}
#TJ3:nth-child(2){border-top: none;}
#TJ3:nth-child(3){border-top: none;}
#TJ3:nth-child(4){border-top: none;border-right: none}
#TJ3:nth-child(5){border-bottom: none;border-left: none}
#TJ3:nth-child(6){border-bottom: none;}
#TJ3:nth-child(7){border-bottom: none;}
#TJ3:nth-child(8){border-bottom: none;border-right: none}

#P3{display: block;float: right;cursor: pointer;margin-top: 40px;height: 100px;width: 100px;}
#T9 {width: 120px;height: 60px; font-size: 12px;margin-top: 20px;margin-left: 25px; line-height: 20px;}
#T9:hover{color: blue}
#T9 h3{font-size: 14px;color: red;display: block;}




/*购物车*/
.div10{width: 1196px;height: 700px;background-color:#fff;margin: 0 auto}
.goods_box ul:after{
			content: "",
			display:block;
			clear: both;
		}
		.goods_box ul{
			width: 1196px;
			margin:0 auto;
		}
		.goods_item{
			padding: 5px 3px;
			border-right: 1px solid #b6b6b6;
			float: left;
			position: relative;
			margin-bottom: 20px;
		}
		.goods_pic{
			padding: 2px 10px;
			margin: 0 auto;
			width: 160px;
			height: 160px;
			-webkit-transition:all 0.5s ease-in-out;
			-moz-transition:all 1s ease-in-out;
			cursor: pointer;
		}
		.goods_pic:hover{
			transform:translateY(-5px);
			box-shadow: 5px 5px 5px 5px #b6b6b6;
		}
		.goods_title{
			width: 230px;
			height: 88px;
			font-size: 12px;
		    text-align: left;
		    color: #999;
		    padding: 13px 0 7px;
		    display: block;
		    max-width: 100%;
		    _width: 100%;
		    white-space: nowrap;
		    text-overflow: ellipsis;
		    overflow: hidden;
		    text-indent: 10px;
		}
		#TEXT span{
			font-size: 14px;
			color: red;
		}
		.sc{
			padding: 10px 5px;
		}
		.sc_btn{
			width: 100px;
			margin: 0 auto;
			text-align: center;
			padding: 5px 10px;
			border-radius: 2px;
			box-shadow: 0 0 2px #f10;
			height: 20px;
			background: #fc1934;
			color: #fff;
			font-weight: bold;
			font-size: 18px;
			cursor:pointer;

		}
		.sc_right{
			position: absolute;
			width: 270px;
			border-left: 2px solid #b6b6b6;
			right: -270px;
			top: 0;
			height: 100%;
			background-color: gold;
			position: fixed;
		}
		.sc_pic{
			width: 40px;
			height: 40px;
			padding: 4px 6px;
			background: url(toolbars.png) #999 15px 15px no-repeat;
			position: relative;
			left: -52px;
			top: 50%;
			margin-top: -24px;
			cursor: pointer;
		}
		.sc_num{
			position: absolute;
			padding: 2px 8px;
			border-radius: 50%;
			background: red;
			color: #fff;
			top: -8px;
			left: 20px;
			z-index: 1;
		}
		.sc_goodsPic{
			
			width: 80px;
			height: 80px;
			border: 1px solid #b6b6b6;
			float: left;

		}
		.sc_goodsPic img{
			width: 100%;
			height: 100%;
			cursor: pointer;
		}
		.sc_goodsTitle{
			line-height: 40px;
			color: #999;
			margin-left: 20px;
			float: left;
		}
		.sc_goodsBtn{
			
			background: #fc1934;
			color: #fff;
			text-align: center;
			float: left;
			line-height: 30px;
			width: 60px;
			height: 30px;
			margin-left: 20px;
			cursor: pointer;

		}
		.sc_goodsNum{
			float: left;
			line-height: 30px;
			font-size: 10px;
			margin-left: 5px;

		}
		.sc_right li{
			height: 100px;
		}
		#ball{width: 50px; height: 50px; position: absolute; background-color: black; display: none; border-radius: 50%}


#clearBtn{
			background-color: orange;
			color: blue;
			width: 300px;
			height: 40px;
			font-size: 20px;
		}

footer{width: 100%;height: 170px;padding-top: 80px;text-align: center;}
			footer ul{margin-left: 460px}
			footer ul li{float: left;height: 12px;border-right: 1px solid black;line-height: 12px;}
			footer ul li:nth-child(5){border: none;}
			footer ul li a{font-size:12px;margin: 0 12px;}
			footer p,footer span{font-size: 12px;}
/*购物车侧边栏*/
